@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>+ JMJ +</p>
    <h1 class="display-4">Welcome to Solid Core</h1>
    <p>This is a test for beginning the rewrite</p>
</div>
