@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="one-half column" style="margin-top: 25%">
            @* here for reference http://www.getskeleton.com*@
            <p>+ JMJ +</p>
            <h1>User Login Page</h1>
            <p>This is where all the user login stuff page should begin to be sketched out</p>
        </div>
    </div>
</div>